#base packages
pandas
python-dotenv

#For building RAG
langchain
langchain-community
langchainhub
langchain-chroma
langchain_openai
langchain_core
langchain_text_splitters

beautifulsoup4

#For connecting with AstraDB
astrapy

#For vector embedding
openai